{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">
                        <div class="row">
                            <div class="col">
                                <a class="q-title" href="{{ path('app_question_show', { slug: 'a-spell' }) }}"><h2>Reversing a Spell</h2></a>
                            </div>
                        </div>
                    </div>
                    <a class="answer-link" href="{{ path('app_question_show', { slug: 'reversing-a-spell' }) }}" style="color: #fff;">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}